body {
    background-color: #212121;
    color: white;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    gap: 1.5rem;
}

#clock {
    font-size: 40px;
    background-color: rgb(73, 73, 73);
    padding: 1.3rem 4rem;
    border-radius: 10px;
}